pre.programlisting {
	padding: 6px;
	background-color: #F8F8FF;
	border: 1px dotted Black;
	font-family: monospace;
}

div.book div.titlepage h1.title {
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

div.book div.titlepage h3.author {
	font-size: large;
	text-align: center;
	padding: 10px 0px 10px 0px;
}

div.book div.titlepage p.copyright {
	font-size: small;
	text-align: center;
	padding: 0px 0px 50px 0px;
}

div.chapter div.titlepage h2.title {
	color: White;
	background-color: #2FAFBF;
	margin: 55px 0px 0px 0px;
	padding: 5px 0px 5px 5px;
	font: bold x-large sans-serif;
}

div.chapter div.sect1 div.titlepage h2.title {
	color: Black;
	background-color: transparent;
	padding: 5px 0px 0px 0px;
	font: bold large sans-serif;
}

div.chapter div.sect1 div.sect2 div.titlepage h3.title {
	color: Black;
	background-color: transparent;
	padding: 5px 0px 0px 0px;
	font: bold medium serif;
}

div.glosslist dt
{
	font-weight: bold
}

div.toc span.part {
	font-family: Tahoma, Ariel, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20;
	margin-top: 1in;
}
div.toc span.glossary {
	font-weight: bold;
}
div.toc span.index {
	font-weight: bold;
}
div.toc span.preface {
	font-weight: bold;
}
div.toc span.appendix {
	font-weight: bold;
}
div.toc span.chapter {
	font-weight: bold;
}



